.dashboard {
	display: grid;
	grid-template-rows: 1fr 1fr 450px 1fr .5fr;
	grid-template-columns: 1fr 600px 1fr;
	font-size: 1.6rem;
	height: 100vh;
	min-height: 38em;
	text-align: center;
	user-select: none;
}

.question {
	grid-row-start: 2;
	grid-column-start: 2;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding-bottom: 25px;
}

.character-box {
	grid-row-start: 3;
	grid-column-start: 2;
	grid-column-end: 3;
	border: 2px solid black;
	border-radius: .5rem;
	background-color: #fff;
	display: inline-block;
	padding: 2rem;
	display:flex;
	align-items: center;
	justify-content: center;
}

div.feedback {
	width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
	justify-items: center;
	min-height: 56px;
	margin-left: auto;
	margin-right: auto;
	padding: 2px 16px;
	margin-bottom: 24px;
	border: 2px solid black;
	border-radius: 8px;
	font-size: 1em;
	font-weight: 500;
}

h2.character {
	font-size: 250px;
}

.character div {
	align-items: center;
	display: flex;
	justify-content: center;
}

@media (max-width: 640px) {
	.dashboard {
		display: grid;
		grid-template-rows: 72px 1.3fr 40% 1.5fr 20px;
		grid-template-columns: 1fr 90% 1fr;
		font-size: 1.6rem;
		height: 100vh;
		text-align: center;
		min-height: 0em;
	} 
	.question {
		justify-content: center;
		align-items: center;
		padding-bottom: 0px;
	}

	h2.character {
		font-size: 150px;
	}

	input.answer {
		margin-bottom: 0px;
	}

	div.feedback {
		margin-bottom: 0px;
	}
}

div.green {
	font-size: 30px;
	vertical-align: middle;
	background-color: lightgreen;
}

.red {
	background-color: lightcoral;
}

.guess-form {
	grid-row-start: 4;
	grid-column-start: 2;
	margin-top: 20px;
}

.guess-form  button {
	min-width: 200px;
	padding: 18px 34px;
	margin: 16px 0px;
	background: black none repeat scroll 0% 0%;
	color: white;
	border: medium none;
	border-radius: 8px;
	font-size: 1.2em;
	letter-spacing: 1px;
	font-weight: 500;
	text-decoration: none;
}

.guess-form button:disabled {
	color: grey;
}
